.Header {
  background-color: rgb(236, 235, 236);
}
.Web1 {
  color: rgb(33, 150, 243);
}
.Studio1 {
  color: rgb(33, 33, 33);
}
.HeadContacts {
  text-decoration: none;
  color: rgb(33, 33, 33);
}
.HeadContacts:hover {
  color: rgb(33, 150, 243);
}
.Contacts {
  color: rgb(117, 117, 117);
}
.Contacts:hover {
  color: rgb(33, 150, 243);
}
.effects {
  color: white;
}
.EffectsBackground {
    background-color: rgb(47, 48, 58);
}
.button1 {
  text-align: center;
  width: 216px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border: none;
  margin: 40px;
  width: 216px;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.AttentionDD {
  color: rgb(33, 33, 33);
}
.AttentionDDtext {
  color: rgb(117, 117, 117);
}
.WhatDoing {
  color: rgb(33, 33, 33);
}
.CommanBackGround {
  background-color: rgb(245, 244, 250);
}
.HeadCommand {
  color: rgb(33, 33, 33);
}
.Command {
  color: rgb(33, 33, 33);
}
.CommandStats {
  color: rgb(117, 117, 117);
}
.Web2 {
  color: rgb(33, 150, 243);
}
.Studio2 {
  color: rgb(255, 255, 255);
}
.Footer {
  background-color: rgb(47, 48, 58);
}
.FooterAdress {
  color: white;
}
.FooterContacts {
  color: rgb(117, 117, 117);
}
.FooterContacts:hover {
    color: rgb(33, 150, 243);
}
li {
  list-style-type: none;
}