.container {
  width: 1170px;
  margin: 0 auto;
  border: 1px solid red;
}
body {
  font-family: Roboto;
}
.header {
  background-color: rgb(236, 235, 236);
}
.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_wrapper {
  display: flex;
  gap: 93px;
  align-items: center;
}
.header_list {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.header_logow {
  color: rgb(33, 150, 243);
  font-size: 26px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header_logos {
  color: rgb(33, 33, 33);
  font-size: 26px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header_dive {
  display: flex;
  gap: 50px;
}
.header_contacts {
  text-decoration: none;
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header_contacts:hover {
  color: rgb(33, 150, 243);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header_numbmail {
  text-decoration: none;
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header_numbmail:hover {
  color: rgb(33, 150, 243);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.lead_effects {
  color: white;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.lead {
  background-color: rgb(47, 48, 58);
}
.lead_btn {
  justify-content: center;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border: none;
  margin: 40px;
  width: 216px;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.features > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features_list {
  display: flex;
  gap: 30px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.features_meaning {
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.features_text {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.photo_list {
  overflow: hidden;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0 auto;
  margin-bottom: 94px;
  padding: 0;
}
.photo_meaning {
  margin-top: 0;
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.card {
  background-color: rgb(245, 244, 250);
}
.card_list {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 30px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
}
.card_people {
  width: 270px;
  height: 260px;
}
.card_head {
  margin-top: 94px;
  margin-bottom: 50px;
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.card_command {
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.card_stats {
  color: rgb(117, 117, 117);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.footer {
  background-color: rgb(47, 48, 58);
}
.footer_logow {
  color: rgb(33, 150, 243);
  font-size: 26px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer_logos {
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer_adress {
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer_contacts {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer_contacts:hover {
  color: rgb(33, 150, 243);
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
li {
  list-style-type: none;
}
